<!doctype html>
<html>
<head>
<title>index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="public/css/style.css">
</head>

<body>
<header class="headpart" >
  <div> <a class="logo" href="/">
    <h1>EdD</h1>
    </a>
    <h2>Aditya Jain</h2>
    <nav>
      <ul class="ulpart">
        <li><a href="/" id="active">Home</a></li>
        <li><a href="#">work</a></li>
        <li><a href="/aboutme">about me</a></li>
        <li><a href="/contact">contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="img-banner" >
    <div>
      <h1>I'm a freelancer <br>
        Webdeveloper
        <t>|</t>
        Video Editor
        <t>|</t>
        Casual Gamer.</h1>
      <h2>I'm currently pursuing B-Tech in Electronics and Communication</h2>
    </div>
  </section>
  <section class="arrow">
    <div onClick="scrolldown()"></div>
  </section>
  <section class="content" id="scroll">
    <div class="contentpart">
      <div class="youimg"></div>
      <div class="text"> <a href="#">
        <p>Check Out! My YouTube Channel </p>
        </a> </div>
    </div>
    <div class="contentpart">
      <div class="filterimg"></div>
      <div class="text"> <a href="#">
        <p>Check Out! My Image Filters </p>
        </a> </div>
    </div>
  </section>
</main>
<footer>
  <div class="footcontent">
    <div class="address">
		<div class="addtext">
			<h1><t>|</t>Home Address <t>|</t></h1>
			<p>10 Manvendra Nagar, <br>Railway Road, <br>Rishikesh, Uttarakhand <br>249201</p>
			<h1><t>|</t>College Address <t>|</t></h1>
			<p>NH91, Tehsil Dadri, <br> Gautam Buddha Nagar, <br> Greater Noida, Uttar Pradesh <br> 201314</p>
		</div>
	  </div>
    <div class="social">
	 <h1><t>|</t> Follow me on <t>|</t></h1>
      <div class="panel-container">
	  <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div></div>
    </div>
  </div>
</footer>
</body>
<script src="public/js/jquery-3.3.1.js"></script>
<script src="public/js/main.js"></script>
</html>
