<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About Me</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="public/css/styleaboutme.css">
</head>

<body>
<header class="headpart" >
  <div> <a class="logo" href="/">
    <h1>EdD</h1>
    </a>
    <h2>Aditya Jain</h2>
    <nav>
      <ul class="ulpart">
        <li><a href="/">Home</a></li>
        <li><a href="#">work</a></li>
        <li><a href="/aboutme" id="active">about me</a></li>
        <li><a href="/contact">contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="img-banner">
  <div class="imgtext">
    <p>
      <t>|</t>
      Malbodan haengdong-iji.
      <t>|</t>
    </p>
    <p>(Actions speak louder than words)</p>
  </div>
</section>
<section class="content">
 <div class="contentb">
	 <div class="welcome">
    <h1>Hola Amigo!!</h1>
    <h2>qué bueno verte</h2>
  </div>
	<div class="main">
		<p>I'm Aditya Jain (aka EdD),I am web developer and video editor. I'm currently pursuing B-Tech in Electronics and Communication from <b>'<a href="#">Shiv Nadar University</a>'</b> and I did my Inter and High school from <b>'<a href="http://www.icbse.com/schools/rishikesh-public-school/ut053">Rishikesh Public School</a>'</b> , ISC board (well,it was tough) .</p>
		<h2><t>|</t> Gamer <t>|</t></h2>
		<p> Apart from my skills, I am a casual gamer (sometimes gets hardcore though and takes away my whole day) .My favourite game is <b>'<a href="#">Call Of Duty-Black Ops 2</a>'</b> ,mainly because of its heart-wrenching story.
		I own a copy of <b>'<a href="">Rainbow Six:Siege</a>'</b> and there I go by the name 'EdD_R6'.</p>
	   <h2><t>|</t> Music Lover <t>|</t></h2>
		<p>My favourite genre of music is alternative rock ( AND I LOVE <em>'LINKIN PARK'</em> ).
		 But yet my favourite song,the one which is closest to my heart is <b>'<a href="#">The Night Will Always Win-Elbow</a>'</b></p>
		<h2><t>|</t> And...<t> |</t></h2>
		<p>I'm a Foodie (pure vegetarian though), Exaggerator(you won't even realise)....</p>
		<p>You're welcome to browse my portfolio and check out some of my projects. Can't find what you're looking for? Drop me a line at <b>'jainaditya400@gmail.com/aj387@snu.edu.in'</b></p>

	</div></div>
</section>
	<section class="foot">
  <div class="footcontent">
    <div class="address">
		<div class="addtext">
			<h1><t>|</t> Home Address <t>|</t></h1>
			<p>10 Manvendra Nagar, <br>Railway Road, <br>Rishikesh, Uttarakhand <br>249201</p>
			<h1><t>| </t>College Address <t>|</t></h1>
			<p>NH91, Tehsil Dadri, <br> Gautam Buddha Nagar, <br> Greater Noida, Uttar Pradesh <br> 201314</p>
		</div>
	  </div>
    <div class="social">
	 <h1><t>|</t> Follow me on <t>|</t></h1>
      <div class="panel-container">
	  <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div>
      <div class="panel"><a href="#"></a></div></div>
    </div>
  </div>
</section>
</body>
<script src="public/js/aboutme.js"></script>
</html>
