<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="public/css/stylecontacts.css">
</head>

<body>
	<header class="headpart" >
  <div> <a class="logo" href="/">
    <h1>EdD</h1>
    </a>
    <h2>Aditya Jain</h2>
    <nav>
      <ul class="ulpart">
        <li><a href="/">Home</a></li>
        <li><a href="#">work</a></li>
        <li><a href="/aboutme" >about me</a></li>
        <li><a href="/contact" id="active">contacts</a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="img-banner">
  <div class="imgtext">
    <p>
      <t>|</t>
      Need to contact me?
      <t>|</t>
    </p>
    <p><t>|</t>Go with whatever way to like...<t>|</t></p>
	  <p>{If you have something in mind that may improve my work, please do tell.} </p>
	  	<p>{I am open to suggestions and would highly appreciate it.} </p>
  </div>
</section>
	<section class="content">
		<div class="contentb">
	 	 <div class="welcome">
	     <h1>Contact details-</h1>

	   </div>
	 	<div class="main">

	 		<h2><t>|</t> WhatsApp on <t>|</t></h2>
	 		<p>+91 8979796646</p>
	 	   <h2><t>|</t>  Call <t>|</t></h2>
	 		<p>+91 8979796646 / 9927105050</p>
	 		<h2><t>|</t> E-mail <t> |</t></h2>
	 		<p>jainaditya400@gmail.com / aj387@snu.edu.in</p>
	 		<p class="hassel"><b> Don't want any hassle!...Just fill out the contact form below and I will reply ASAP</b>
			 (for confirmation check for a "Email has been sent" pop up, once you click the 'submit' button)</p>

	 	</div>
	 	<form class="conform" action="send" method="POST">
	 		<label for="name">Full Name</label>
	 		<input type="text" name="name" placeholder="Your name here..." required>
	 		<label for="email">Your E-mail</label>
	 		<input type="email" name="email" placeholder="Your working e-mail to which I can reply" required>
	 		<label for="msg">Message/Query</label>
	 		<textarea name="message" rows="12" placeholder="Text here..." required ></textarea>
	 		<button  name="submit">Submit</button>

	 	</form>
	 	<p class="confirm">{{msg}}</p>

	 </div>
</section>
	<section class="foot">
  <div class="footcontent">
    <div class="address">
		<div class="addtext">
			<h1><t>|</t> Home Address <t>|</t></h1>
			<p>10 Manvendra Nagar, <br>Railway Road, <br>Rishikesh, Uttarakhand <br>249201</p>
			<h1><t>| </t>College Address <t>|</t></h1>
			<p>NH91, Tehsil Dadri, <br> Gautam Buddha Nagar, <br> Greater Noida, Uttar Pradesh <br> 201314</p>
		</div>
	  </div>
    <div class="social">
	 <h1><t>|</t> Follow me on <t>|</t></h1>
      <div class="panel-container">
				<div class="panel"><a href="https://www.facebook.com/EddR6"></a></div>
		      <div class="panel"><a href="https://www.linkedin.com/in/aditya-jain-67714a129/"></a></div>
		      <div class="panel"><a href="/contact"></a></div>
		      <div class="panel"><a href="https://www.instagram.com/edd_jain/"></a></div>
		      <div class="panel"><a href="https://www.youtube.com/channel/UCgSWb0fKkMprXynFXpwc_yw?view_as=subscriber"></a></div></div>
    </div>
  </div>
</section>
</body>
	<script src="/public/js/contacts.js"></script>

</html>
