* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
t{
	color: rgba(173,1,1,1.00);
}
#active{
	color: royalblue;
}
/*fonts*/
@font-face {
	src: url(/public/fonts/Comfortaa-Regular.ttf);
	font-family: "comfort";
}
@font-face {
	src: url(/public/fonts/Nilland.ttf);
	font-family: "nilland";
}
@font-face {
	src: url(/public/fonts/Evolution.ttf);
	font-family: "evolution";
}
@font-face {
	src: url(/public/fonts/RobotoMono-Light.ttf);
	font-family: "robomono";
}/*R: 173 G: 1 B: 1*/
@font-face {
	src: url(/public/fonts/Bellerose.ttf);
	font-family: "br";
}
@font-face {
	src: url(/public/fonts/GeosansLight.ttf);
	font-family: "gs";
}/*R: 173 G: 1 B: 1*/

/*headpart logo and nav bar*/

.headpart {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 120px;
	border-bottom: 1px solid white;
	transition: all 0.3s;
	z-index: 100;
}
.logo h1 {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bolder;
	font-family: "nilland";
	transition: all 0.3s;
}
.logo {
	display: block;
	float: left;
	background-color: rgba(173,1,1,0.90);
	padding: 15px 25px 15px 25px;
	line-height: 60px;
	margin-left: 80px;
	margin-top: 15px;
	transition: all 0.2s;
}
header div h2 {
	text-align: center;
	display: inline-block;
	float: left;
	color: white;
	font-family: "comfort";
	font-size: 26px;
	margin-top: 66px;
	margin-left: 5px;
	font-weight: lighter;
	text-transform: uppercase;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid rgba(173,1,1,1);
	padding-right: 10px;
	transition: all 0.3s;
}
header div nav ul {
	display: block;
	float: right;
	margin-right: 80px;
}
header div nav ul li {
	display: inline-block;
	margin: 52px 10px 0px 10px;
	transition: all 0.2s;
}
header div nav ul li a {
	color: white;
	font-family: "robomono";
	font-size: 16px;
	text-transform: uppercase;
	border-left: 3px solid rgba(173,1,1,0);
	padding: 4px 15px;
}
header div nav ul li a:hover {
	background-color: rgba(255,255,255,0.1);
	border-top: 2px solid rgba(173,1,1,1);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/*image banner*/
.img-banner {
	width: 100%;
	height: 100vh;
	background-image: url(/public/images/redroom.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: table;
	box-shadow: 4px 4px 6px 6px rgba(0,0,0,.5);
	margin-bottom: 5px;
}
.img-banner div {
	display: table-cell;
	vertical-align: middle;
}
.img-banner div h1 {
	text-align: center;
	font-family: "gs";
	font-size: 36px;
	word-spacing: normal;
	font-weight: normal;
	color: snow;
	text-transform: uppercase;
	line-height: 80px;
	margin-top: 120px;
}
.img-banner div h2 {
	text-align: center;
	font-family: "robomono";
	font-size: 30px;
	word-spacing: normal;
	font-weight: lighter;
	color: white;
	line-height: 100px;
	padding-top: 50px;
}

/*arrow down*/
.arrow {
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	margin-top: calc(100vh - 150px);
}
.arrow div {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	background-image: url(/public/icons/downarrow.gif);
	background-position: center;
	background-size: contain;
	width: 80px;
	height: 80px;
}
/*content including youtube and filter link*/
.content {
	width: 100%;
	height: calc(100vh - 20px);
	background-image: url(/public/images/redwhite.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.contentpart {
	display: inline-block;
	width: 40%;
	height: 50%;
	position: relative;
	border: 4px rgba(173,1,1,1.00);
	margin-top: calc(100vh / 4);
	margin-left: 100px;
}
.youimg {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(/public/images/youtube.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .1s ease;
}
.filterimg {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(/public/images/filter.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .1s ease;
}
.text {
	text-align: center;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}
.text a {
	display: block;
	width: 100%;
	height: 100%;
}
.text a p {
	display: block;
	padding-top: 50%;
	font-size: 30px;
	font-family: "gs";
	color: white;
}
.contentpart:hover .youimg {
	background-image: url(/public/images/youtube1.jpg);
}
.contentpart:hover .filterimg {
	background-image: url(/public/images/filter1.jpg);
}
/*footer including address and social links*/
footer {
	height: 50vh;
	width: 100%;
}
.footcontent {
	width: 100%;
	height: 100%;
	background-color: rgba(19,19,19,1.00);
}
.address {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: left;
}
.social {
	height: 100%;
	width: 50%;
	display: inline-block;
	float: right;
	position: relative;
	outline: 2px groove rgba(173,1,1,1);
}
.panel {
	display: inline-block;
	margin: 1%;
	height: 85%;
	width: 13%;

}
.panel-container {
	display: block;
	height: 25%;
	width: 100%;
	margin-top: 25%;
}
.panel:nth-of-type(1) {
	margin-left: 15%;


}
.social h1 {
	display: block;
	width: 100%;
	text-align: center;
	z-index: 3;
	position: absolute;
	top: 20%;
	color: white;
	font-family: "gs";
	font-size: 32px;
}


.panel:nth-of-type(1) a {
	display: block;
	width: 75%;
	height: 60%;
	background-image: url(/public/icons/fb.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.panel:nth-of-type(2) a {
	display: block;
	width: 75%;
	height: 60%;
	background-image: url(/public/icons/li.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.panel:nth-of-type(3) a {
	display: block;
	width: 75%;
	height: 60%;
	background-image: url(/public/icons/wa.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.panel:nth-of-type(4) a {
	display: block;
	width: 75%;
	height: 60%;
	background-image: url(/public/icons/ins.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.panel:nth-of-type(5) a {
	display: block;
	width: 75%;
	height: 60%;
	background-image: url(/public/icons/yt.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.panel a:hover{
background-color:rgba(238,238,238,0.1);
	border-radius: 8px;
}
.address{
	outline: 2px groove rgba(173,1,1,1.00);
	display: table;
	font-family: "gs";
}
.addtext{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
	line-height: 30px;
}
.addtext h1{
	margin: 15px;
}
@media screen and (max-width:1030px) {
.headpart {
 position: fixed;
 width: 100vw;
 top: 0;
 right: 0;
 left: 0;
 height: 120px;
 display: block;
 border-bottom: 1px solid white;
 transition: all 0.3s;
 z-index: 100;
}
header div {
 width: 100%;
}
.logo h1 {
 color: #FFFFFF;
 font-size: 20px;
 font-weight: bolder;
 font-family: "nilland";
 transition: all 0.3s;
}
.logo {
 display: block;
 float: left;
 background-color: rgba(173,1,1,0.90);
 padding: 10px 15px 10px 15px;
 line-height: 40px;
 margin-left: 35%;
 margin-top: 7px;
 transition: all 0.2s;
}
header div h2 {
 text-align: center;
 display: inline-block;
 float: left;
 color: white;
 font-family: "comfort";
 font-size: 13px;
 margin-top: 43px;
 margin-left: 2px;
 font-weight: lighter;
 text-transform: uppercase;
 border-top: 1px solid white;
 border-bottom: 1px solid white;
 border-right: 1px solid rgba(173,1,1,1);
 padding-right: 5px;
 transition: all 0.3s;
}
header div nav ul {
 display: block;
 float: left;
 margin-top: 3vh;
 margin-left: 7vw;
 width: 100%;
}
header div nav ul li {
 display: inline-block;
 margin: 0px 3px 0px 3px;
 transition: all 0.2s;
}
header div nav ul li a {
 color: white;
 font-family: "robomono";
 font-size: 14px;
 text-transform: uppercase;
 border-left: 3px solid rgba(173,1,1,0);
 padding: 2px 10px;
}
.img-banner div h1 {
 line-height: 30px;
 font-size: 20px;
}
.img-banner div h2 {
 line-height: 20px;
 font-size: 16px;
}
.contentpart {
 display: block;
 width: 70%;
 height: 20%;
 position: relative;
 padding-top: 30%;
 margin: 0 auto;
}
.text a p {
 padding-top: 80%;
 font-size: 16px;
}
footer {
 height: 30vh;
 width: 100%;
}
.addtext {
 font-size: 9px;
 line-height: 15px;
}
.addtext h1 {
 margin: 5px;
 font-size: 12px;
}
.social h1 {
 font-size: 16px;
}
.panel {
 display: inline-block;
 margin: 1%;
 height: 85%;
 width: 13%;
}
.panel-container {
 margin-top: 40%;
}
.panel:nth-of-type(1) {
 margin-left: 7%;
}
}
